.base {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.15s,
    color 0.15s;

  /* Size */
  &.sm {
    width: 24px;
    height: 24px;
    padding: 0;
  }

  &.md {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 12px;
  }

  /* Variant */
  &.surface {
    color: var(--c-text-primary);
    background-color: var(--c-surface-tertiary);

    &:hover {
      background-color: var(--c-surface-secondary);
    }
  }

  &.floating {
    color: var(--c-text-primary);
    background-color: var(--c-surface-primary);
    box-shadow: 0px 16px 56px 0px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: var(--c-surface-secondary);
    }
  }

  &.ghost {
    color: var(--c-text-tertiary);
    background: none;

    &:hover {
      color: var(--c-text-primary);
    }
  }

  &.accent {
    color: var(--c-text-invert);
    background-color: var(--c-lime);

    &:hover {
      background-color: color-mix(in srgb, var(--c-lime) 90%, #000);
    }
  }

  &.contrast {
    color: var(--c-text-invert);
    background-color: var(--c-surface-contrast);

    &:hover {
      background-color: color-mix(in srgb, var(--c-surface-contrast) 80%, #fff);
    }
  }

  &:disabled {
    cursor: default;
    color: var(--c-text-disabled);
  }

  &.accent:disabled,
  &.contrast:disabled {
    background-color: var(--c-surface-secondary);
  }
}
