@import '@fontsource-variable/onest';
@import './variables.css';

/* Prevent scroll from leaking out of the iframe to the host page */
html,
body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

#root {
  height: 100%;
}

*,
*::before,
*::after {
  font-family: var(--font);
}
