.systemRow {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.text {
  padding: 0px 12px;
  color: var(--c-text-tertiary);
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  overflow-wrap: anywhere;
}
