.meta {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  /* обтекание последней строкой текста абзаца */
  float: right;
  margin-left: 8px;
  align-self: end;
  height: 18px;
  color: var(--c-text-message-meta);
}

.metaOwn {
  color: var(--c-text-message-own-meta);
}

.time {
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  min-width: 28px;
  white-space: nowrap;
  flex-shrink: 0;
}
